[user]
	name = Jay Levitt
	email = jay@jay.fm

[github]
	user = jaylevitt
	token = 1c63ccf12dd49cbb5c8871bf0369b37e

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto

[rebase]
 	autosquash = true
 	
[merge]
	keepBackup = false
  tool = custom
  summary = true
        
[mergetool "custom"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick -x
	df = diff
	lg = log -p
	st = status


	# index and recent commits
	unstage  = reset HEAD
	uncommit = reset --soft HEAD^
	addall   = !sh -c 'git add . && git add -u'

	fixup  = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	ri     = rebase --interactive --autosquash

	# pull/push
	outgoing = log -u origin/master..master

	# branches
	publish  = "!f() { git push origin $1; git branch --set-upstream $1 origin/$1; }; f"

	# logs
	changes   = log --pretty=format:"%h %cr %cn %Cgreen%s%Creset" --name-status
	short     = log --pretty=format:"%h %cr %cn %Cgreen%s%Creset"
	changelog = log --pretty=format:" * %s"
	files     = log --name-status

	gl = log --graph --pretty="format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset"

[diff "ruby"]
	funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)

# from Darren Hall
[alias]
	l = log --graph --oneline
	sl = shortlog
	undo = reset --hard ORIG_HEAD
	redo = commit --amend

[core]
	quotepath = false
	excludesfile = /Users/jay/.gitignore_global

[gc]
auto = 1
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[push]
	default = tracking
[credential]
	helper = osxkeychain
