.*_history

.asdm
.ccache
.cpan
.cups
.DownloadManager
.DS_Store
.dvdcss
.dropbox
.enscript
.fontconfig
.FontForge
.fonts.cache-1
.gem
.gitk
.gnupg
.keychain
.lesshst
.MacOSX
.macports
.omake
.PersonalBrain
.qt
.rdebug_hist
.rnd
.ruby_inline
.sake
.serverauth*
.splunk
.ssh
.subversion
.svn
.TemporaryItems
.Trash
.viminfo
.wireshark
.Xauthority
.Xcode
.zcompdump*
